// colors
$c-black: black;
$c-white: white;

$g-linear-gradient:(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);


// fonts
$f-montserrat: 'Montserrat', sans-serif;
$f-openSans: 'Open Sans', sans-serif;
$f-sourceSansPro: 'Source Sans Pro', sans-serif;

// font size
$fs-14:14 px;
$fs-18:18 px;
$fs-44:44 px;
