// colors
$c-black: black;
$c-white: white;

// fonts
$f-montserrat: 'Montserrat', sans-serif;
$f-openSans: 'Open Sans', sans-serif;
$f-sourceSansPro: 'Source Sans Pro', sans-serif;

// font size
$fs-14:14 px;
$fs-18:18 px;
$fs-44:44 px;
