// colors
$c-black: black;
$c-white: #ffffff;
$c-milk: #e5e5e5;
$c-blue-sky: #55b7ff;
$c-blue: #7e5aff;
$c-dark-gray: #2c4058;
$c-gray: #4b5562;

$g-linear-gradient: linear-gradient(
  243.43deg,
  $c-blue 16.9%,
  $c-blue-sky 83.27%
);

// fonts
$f-montserrat: 'Montserrat', sans-serif;
$f-openSans: 'Open Sans', sans-serif;
$f-sourceSansPro: 'Source Sans Pro', sans-serif;

// font size
$fs-14: 14px;
$fs-18: 18px;
$fs-22: 22px;
$fs-32: 32px;
$fs-44: 44px;
