mixin banner()
  .banner
    .banner__wrapper
      img.banner__wrapper__image(src="./assets/banner/banner_img.png", alt="city")
      h1.banner__wrapper__title SIMPLE & MODERN
        .banner__wrapper__subTitle WE MAKE THE WORLD BEAUTIFUL EVERYDAY
