mixin banner()
  .banner
    //- обгортка
    .banner__wrapper
      //- картинка
      img.banner__image(src="./assets/banner/banner_img.png" alt="city")
      //- обгортка для заголовка
      .banner__title-wrapper
        //- заголовок
        h1.banner__title SIMPLE & MODERN
          //- підзаголовок
          .banner__subTitle WE MAKE THE WORLD BEAUTIFUL EVERYDAY
