mixin banner()
  .banner
    .banner__wrapper
      img.banner__image(src="./assets/banner/banner_img.png", alt="city")
      .banner__title-wrapper
        h1.banner__title SIMPLE & MODERN
        .banner__subTitle WE MAKE THE WORLD BEAUTIFUL EVERYDAY
