mixin footer()
  footer.footer 
    .footer__wrapper
      .footer__image-block
        img.footer__image-block__img(src="./assets/img/image-footer.png" alt="city")
    .footer__content-block.containerFooter
      .footer__content
        +logo()
        .footer__social
          +social()
      .footer__copyright Copyright &#169; 2020 Montichello