//- підключення файлу з хедером
include ./header
//- what-we-do
include ./what-we-do/index
//- навігація
include ./navigation
//- блок з іконками соцмереж
include ./social
//- банер
include ./banner
//- слайдер блок
include ./slider
//- Swiper
include ./swiper
//- блок з контактами і формою
include ./get-in-touch
//- карта,картинка
include ./map
//- футер
include ./footer






