mixin main_banner()
  .banner
    .banner__wrapper
      img.banner__wrapper__bg(src="./assets/banner/banner_background_blue.png", alt="")
      img.banner__wrapper__img(src="./assets/banner/banner_img.png", alt="city")
    h1.banner__title SIMPLE & MODERN
      .banner__subTitle WE MAKE THE WORLD BEAUTIFUL EVERYDAY
