.banner
  .banner__wrapper
    img.banner__wrapper__img(src="./assets/banner/banner_img.png", alt="city");
  .banner__wrapper
    img.banner__wrapper__bg(src="./assets/banner/banner_background_blue.png", alt="");