mixin navigation()
  .navigation 
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href='') 
        span ABOUT US
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href='') 
        span PRODJECT
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href='') 
        span NEWS
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href='')  
        span CONTACT