mixin navigation()
  //- навігація
  .navigation 
    //- ітем навігації ABOUT US
    .navigation__item 
      .navigation__item__circle 
      //- ссилка
      a.navigation__item__link(href='') 
        span ABOUT US
    //- ітем навігації PROJECT
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href="#project") 
        span PROJECT
    //- ітем навігації NEWS
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href="#news") 
        span NEWS
    //- ітем навігації CONTACT
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link(href="#contacts")  
        span CONTACT