mixin navigation()
  .navigation 
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link 
        span ABOUT US
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link 
        span PRODJECT
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link 
        span NEWS
    .navigation__item 
      .navigation__item__circle 
      a.navigation__item__link 
        span CONTACT