mixin slider()
  .slider.container 
    .slider__wrapper
      img.slider__image(src="./assets/img/banner/banner-2-news-city", alt="city")
      .slider__line
      h2.slider__title LATEST NEWS
      +swiper()
