mixin social()
  .social 
    //- обгортка
    .social__icon
      //- іконка фейсбук
      svg.icon.icon-fb
        use(xlink:href="#icon-fb")
    //- обгортка
    .social__icon
      //- іконка інстаграм
      svg.icon.icon-inst
        use(xlink:href="#icon-inst")
    //- обгортка
    .social__icon
      //- іконка твіттер
      svg.icon.icon-tv
        use(xlink:href="#icon-tv")