mixin social()
  .social 
    .social__icon
      svg.icon.icon-fb
        use(xlink:href="#icon-fb")
    .social__icon
      svg.icon.icon-inst
        use(xlink:href="#icon-inst")
    .social__icon
      svg.icon.icon-tv
        use(xlink:href="#icon-tv")