mixin swiper()
  <!-- Slider main container -->
  .swiper.swiper-custom
    <!-- Additional required wrapper -->
    .swiper-wrapper.swiper-custom__wrapper
      <!-- Slides -->
      //- картка слайдера
      .swiper-slide.swiper-card
        .swiper-card__image-block
          img(src="./assets/img/slider/image1.jpg" alt="town")
        .swiper-card__wrapper
          h2.swiper-card-title SEE THE UNMATCHED BEAUTY OF THE GREAT.
          span.swiper-card__content Free directories: directories ...
          .swiper-card__user-info 
            .swiper-card__user-image
              img.swiper-card__user-photo(src="./assets/img/slider/photo-user1.jpg" alt="user")
            .swiper-card__user-name ALJA </br> BRUN
      //- картка слайдера
      .swiper-slide.swiper-card
        .swiper-card__image-block
          img(src="./assets/img/slider/image2.jpg" alt="town")
        .swiper-card__wrapper
          h2.swiper-card-title EFFECTIVE ADVERTISING POINTERS.
          span.swiper-card__content Having a home based business is a wonderful asset to ...
          .swiper-card__user-info 
            .swiper-card__user-image 
              img(src="./assets/img/slider/photo-user2.jpg" alt="user")
            .swiper-card__user-name DOMINIC </br> FREEMAN
      //- картка слайдера
      .swiper-slide.swiper-card
        .swiper-card__image-block
          img(src="./assets/img/slider/image3.jpg" alt="town")
        .swiper-card__wrapper
          h2.swiper-card-title HYPNOTIZE YOURSELF INTO THE GHOST.
          span.swiper-card__content There are many things that are important to catalog design...
          .swiper-card__user-info 
            .swiper-card__user-image 
              img(src="./assets/img/slider/photo-user3.jpg" alt="user")
            .swiper-card__user-name ALICE </br> WARD
      //- картка слайдера
      .swiper-slide.swiper-card
        .swiper-card__image-block
          img(src="./assets/img/slider/image1.jpg" alt="town")
        .swiper-card__wrapper
          h2.swiper-card-title SEE THE UNMATCHED BEAUTY OF THE GREAT.
          span.swiper-card__content Free directories: directories ...
          .swiper-card__user-info 
            .swiper-card__user-image
              img.swiper-card__user-photo(src="./assets/img/slider/photo-user1.jpg" alt="user")
            .swiper-card__user-name ALJA </br> BRUN
    <!-- If we need pagination -->
    .swiper-pagination