@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2c4058;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.containerFooter {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: white;
}

.show {
  display: block;
}

.swiper {
  max-width: 900px;
  height: 550px;
}

.map {
  height: 600px;
}

img {
  width: 100%;
}

.error {
  border-bottom-color: red;
}

.header {
  width: 100%;
  height: 100px;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__block {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.header__block.show {
  display: block;
}
@media (max-width: 1024px) {
  .header__block {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    justify-content: start;
    flex-direction: column;
    background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
    padding-top: 25px;
    display: none;
  }
}
.header__block__navigation {
  width: 100%;
}
.header__block__social {
  max-width: 180px;
  width: 100%;
}
@media (max-width: 1024px) {
  .header__block__social {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}
.header__burger {
  display: block;
  z-index: 3;
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .navigation {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 0;
  }
}
.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .navigation__item {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.navigation__item__circle {
  height: 9px;
  width: 9px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.navigation__item__link {
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1024px) {
  .social {
    align-items: center;
    justify-content: center;
  }
}
.social__icon {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.social__icon:last-child {
  margin-right: 0;
}

.banner {
  min-height: 100vh;
  width: 100%;
}
.banner__wrapper {
  width: 100%;
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  display: block;
  position: relative;
  text-align: center;
}
.banner__image {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
.banner__title {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: white;
  top: 300px;
  right: 0;
  left: 0;
}
.banner__subTitle {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  letter-spacing: 0.3em;
  top: 300;
  right: 0;
  left: 0;
}

.we-do__wrapper {
  padding-top: 100px;
  text-align: center;
}
.we-do__title {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
}

.imgBlock {
  display: block;
  max-width: 830px;
  width: 100%;
  position: relative;
  height: 520px;
}
.imgBlock__color {
  max-width: 580px;
  width: 100%;
  height: 470px;
  background-color: #55b7ff;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.imgBlock__city {
  overflow: hidden;
  position: absolute;
  max-width: 580px;
  height: 470px;
  width: 100%;
  right: 0;
  bottom: 0;
}
.imgBlock__city__img {
  width: 100%;
}

.infoBlock {
  padding-left: 70px;
  padding-top: 140px;
  padding-right: 70px;
}
.infoBlock__subtitle {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 27px;
}
.infoBlock__title {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 18px;
}
.infoBlock__content {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 30px;
  max-width: 500px;
  margin-bottom: 40px;
}
.infoBlock__button {
  width: 190px;
  height: 50px;
  background-color: white;
  color: #2c4058;
  border: 1px solid #2c4058;
  text-shadow: none;
  margin-bottom: 60px;
}
.infoBlock__button__text__location {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 17px;
}
.infoBlock__button__icon {
  font-size: 15px;
  font-weight: 400;
  color: #2c4058;
}
.infoBlock__button__text {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-style: italic;
  color: black;
}

.img-content {
  display: block;
  max-width: 830px;
  width: 100%;
  position: relative;
  height: 520px;
}
.img-content__color {
  max-width: 580px;
  width: 100%;
  height: 470px;
  background-color: #7e5aff;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.img-content__city {
  overflow: hidden;
  position: absolute;
  max-width: 580px;
  height: 470px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.img-content__city__img {
  width: 100%;
}

.panel__wrapper {
  display: flex;
  margin-bottom: 50px;
}
.panel__color-block {
  max-width: 585px;
  width: 100%;
  height: 470px;
  background-color: #55b7ff;
}
@media (max-width: 1024px) {
  .panel__color-block {
    display: none;
  }
}
.panel__image {
  margin-left: -380px;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .panel__image {
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
  }
}
.panel__info-block {
  margin-left: 50px;
  margin-top: 100px;
  text-align: left;
}
@media (max-width: 1024px) {
  .panel__info-block {
    margin-top: 0px;
    max-width: 50%;
  }
}
.panel__info-block__subtitle {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 27px;
}
.panel__info-block__title {
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 18px;
}
.panel__info-block__text {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 30px;
  max-width: 500px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .panel__info-block__text {
    margin-bottom: 20px;
  }
}
.panel__info-block__button {
  width: 190px;
  height: 50px;
  background-color: white;
  color: #2c4058;
  border: 1px solid #2c4058;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .panel__info-block__button {
    margin-bottom: 20px;
  }
}
.panel__info-block__button span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 17px;
}
.panel__info-block__location span {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  font-style: italic;
  color: black;
  margin-left: 10px;
}
.panel--reverse .panel__wrapper {
  flex-direction: row-reverse;
}
.panel--reverse .panel__image {
  margin-left: 0;
  margin-right: -380px;
}
@media (max-width: 1024px) {
  .panel--reverse .panel__image {
    margin-right: 0px;
  }
}
.panel--reverse .panel__info-block {
  margin-right: 50px;
  margin-left: 0;
}
.panel--reverse .panel__color-block {
  background-color: #7e5aff;
}

.slider {
  padding: 50px;
  text-align: center;
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  width: 100%;
}
.slider__image {
  width: 100%;
  background-size: cover;
  opacity: 0.5;
}
.slider__line {
  border: 1px solid white;
  width: 76px;
  margin: 0 auto;
}
.slider__title {
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: white;
  max-width: 250px;
  margin: 100px auto 50px auto;
}

.swiper-custom {
  overflow: hidden;
}
.swiper-custom__wrapper {
  min-width: 0;
}

.swiper-card {
  max-width: 280px;
  width: 100%;
  max-height: 550px;
  margin-bottom: 100px;
  margin-right: 50px;
}
.swiper-card__image-block {
  width: 100%;
  display: flex;
}
.swiper-card__wrapper {
  padding: 10px;
  padding-top: 30px;
  text-align: left;
  background-color: white;
  width: 100%;
  height: 100%;
}
.swiper-card__title {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}
.swiper-card__content {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: white;
}
.swiper-card__user-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.swiper-card__user-image {
  border: 1px solid white;
  border-radius: 70%;
  overflow: hidden;
  height: 60px;
  min-width: 45px;
  width: 45px;
}
.swiper-card__user-name {
  margin-left: 10px;
}

.footer {
  display: block;
  position: relative;
}
.footer__wrapper {
  width: 100%;
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  height: 400px;
  overflow: hidden;
}
.footer__image-block__img {
  width: 100%;
  background-size: cover;
  opacity: 0.5;
}
.footer__content-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__social {
  max-width: 180px;
  width: 100%;
}
.footer__copyright {
  margin-top: 50px;
  color: white;
}

.getInTouch {
  width: 100%;
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.getInTouch__wrapper {
  width: 100%;
  background-color: white;
  border: 1px solid #2c4058;
  position: relative;
}
.getInTouch__image {
  width: 100%;
}
.getInTouch__title {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
}
.getInTouch__content {
  display: flex;
  position: absolute;
  top: 130px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-around;
  width: 100%;
}
.getInTouch__contacts {
  height: 290px;
  display: flex;
  width: 50%;
  justify-content: space-around;
  flex-direction: column;
}
.getInTouch__text {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.getInTouch__registration {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  padding-top: 15px;
}

.form__wrapper {
  height: 290px;
}
.form__input {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 27px;
  height: 50px;
  max-width: 310px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #4B5562;
  outline: none;
}
.form__input.error {
  border-bottom: 3px solid red;
}
.form__input:active {
  border-bottom: 2px solid #2c4058;
}
.form__input:hover {
  border-bottom: solid #55b7ff;
}
.form__button {
  margin-left: 170px;
  width: 140px;
  height: 50px;
}

.logo {
  height: 54px;
  width: 240px;
  background: transparent;
}
.logo__img {
  width: 100%;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background: transparent;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  z-index: 5;
}
.burger:hover {
  background: transparent;
}
.burger .line {
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  min-width: 40px;
  width: 40px;
  height: 3px;
  margin-bottom: 6px;
}
.burger .line:last-child {
  margin-bottom: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*# sourceMappingURL=index.css.map */
