include ./includes/elements/index
include ./includes/components/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Monticello
    //- normalize
    link(rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    //- Swiper
    link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    //- local style
    //- Scripts
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")
    //- fontawesome
    script(src="https://kit.fontawesome.com/04d112062e.js" crossorigin="anonymous")
    //- Script MAP
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgiVrkuAgvMKf0RdJEFRJr2YN-7olUdJw&amp;region=EN&amp;language=en&amp;callback=initMap&amp;v=weekly")
    //- link css
    link(rel="stylesheet" href="index.css")
  body
    //- svg
    include ./assets/svg/symbol-defs.svg
    //- app
    .app 
      +header()
      +banner()
      +we-do()
      +slider()
      +map()
      +footer()
      button#js-button-test(type="button")
        span test

    script(src="./map.js")
    script(defer src="./index.js") 

