include ./includes/elements/index
include ./includes/components/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Monticello
    //- normalize
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    //- local style
    link(rel="stylesheet", href="index.css")
  body
    include ./assets/svg/symbol-defs.svg
    .wrapper 
      +header()
      +main_banner()

