@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 100vh;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: white;
}

.show {
  display: block;
}

.header {
  max-width: 1180px;
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.header__block {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
.header__block.show {
  display: block;
}
@media (max-width: 1024px) {
  .header__block {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(128, 128, 199);
    padding-top: 25px;
    display: none;
  }
}
.header__block__navigation {
  width: 100%;
}
.header__block__social {
  max-width: 180px;
  width: 100%;
}
@media (max-width: 1024px) {
  .header__block__social {
    display: flex;
    justify-content: center;
  }
}
.header__burger {
  display: block;
  z-index: 3;
}
@media (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}

.navigation {
  display: flex;
  justify-content: end;
  width: 100%;
}
@media (max-width: 1024px) {
  .navigation {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}
.navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .navigation__item {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
.navigation__item__circle {
  height: 9px;
  width: 9px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.navigation__item__link {
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14 px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1024px) {
  .social {
    align-items: center;
  }
}
.social__icon {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.social__icon:last-child {
  margin-right: 0;
}

.banner {
  min-width: 100vh;
  position: relative;
}
.banner__wrapper__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.banner__wrapper__img {
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  right: 0;
}
.banner__title {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 130px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
}
.banner__subTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  line-height: 22px;
  letter-spacing: 0.3em;
  text-align: center;
  margin-top: 20px;
}

.logo {
  height: 54px;
  width: 240px;
  background: transparent;
}
.logo__img {
  width: 100%;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background: transparent;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  z-index: 5;
}
.burger:hover {
  background-color: #7e5aff;
}
.burger .line {
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  min-width: 40px;
  width: 40px;
  height: 3px;
  margin-bottom: 6px;
}
.burger .line:last-child {
  margin-bottom: 0;
}/*# sourceMappingURL=index.css.map */