mixin info-content()
  .infoBlock
    .infoBlock__subtitle INTERNATIONAL
    .infoBlock__title COMMERCE CENTRE
    .infoBlock__content Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help. 
    .infoBlock__button 
      button.infoBlock__button(type='button')
        span.infoBlock__button__text MORE DETAILS
    .infoBlock__location 
      i.fa-solid.fa-location-dot.infoBlock__location__icon
      span.infoBlock__location__text Hong Kong - 1588 feet
