mixin info-block()
  .infoBlock
    .infoBlock__subtitle ONE WORLD
    .infoBlock__title TRADE CENTER
    .infoBlock__content Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful. 
    .infoBlock__button 
      button.infoBlock__button(type='button')
        span.infoBlock__button__text MORE DETAILS
    .infoBlock__location 
      //- i.fa-solid.fa-location-dot.infoBlock__location__icon
      i.fas.fa-camera.fa-3x
      span.infoBlock__location__text New York City, United States - 1776 feet 

