//- блок + реверс блок
mixin panel(reverseMode,subtitle,title,location)
  - const classes = reverseMode ? 'panel--reverse' : '';
  - const imageSrc = reverseMode ? './assets/img/we_do/blue-block-absolute.png' : './assets/img/we_do/blue-sky-absolute.png';
  //- блок з контейнером
  .container.panel__wrapper 
    //- блок кольоровий
    .panel__color-block
    //- блок фото
    .panel__image
      //- фото
      img(src=imageSrc alt="blue-sky-absolute")
    //- блок з інформацією
    .panel__info-block 
      //- підзаголовок
      h2.panel__info-block__subtitle= subtitle 
      //- заголовок
      h1.panel__info-block__title= title 
      //- основний текст в блоці
      .panel__info-block__text Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful.
      //- кнопка
      button.panel__info-block__button(type='button') 
        //- текст в кнопці
        span.panel__info-block__button-text MORE DETAILS
      //- локація
      .panel__info-block__location 
        //- іконка
        i.fa-solid.fa-location-dot
        span= location

