.form {
  // обгортка для форми
  &__wrapper {
    height: 290px;
  }

  &__input {
    margin-bottom: 20px;
    padding: 5px 10px 5px 20px;
    font-family: $f-montserrat;
    font-size: $fs-18;
    line-height: 27px;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $c-gray;
    outline: none;

    @media (max-width: 480px) {
      width: 100%;
    }
    &.error {
      border-bottom: 3px solid red;
    }
    &:active {
      border-bottom: 2px solid $c-dark-gray;
    }
    &:hover {
      border-bottom: solid $c-blue-sky;
    }
  }

  // кнопка
  &__button {
    margin-left: 180px;
    width: 140px;
    height: 50px;

    @media (max-width: 480px) {
      margin: 0 auto;
    }
  }
}
