.header {
  width: 100%;
  height: 100px;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 995;
  display: flex;
  align-items: center;
  padding-right: 10px;

  // зміна беграунду хедера при скролі
  &__scroll {
    background: $g-linear-gradient;
  }

  // контейнер для хедера
  &__container {
    display: flex;
    justify-content: space-between;
  }

  // блок для навігації і соцмереж
  &__block {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;

    &.show {
      display: block;
      z-index: 20;
    }

    // зміна на модальне вікно навігації
    @media (max-width: 1024px) {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      justify-content: start;
      flex-direction: column;
      background: $g-linear-gradient;
      padding-top: 25px;
      display: none;
    }
    @media (max-width: 480px) {
      padding-right: 100px;
    }

    // навігація обгортка
    &__navigation {
      width: 100%;
    }

    // іконки соцмереж , обгортка
    &__social {
      max-width: 180px;
      width: 100%;

      @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
        max-width: 100%;
      }
    }
  }

  // бургер обгортка
  &__burger {
    display: block;
    z-index: 999;

    @media (min-width: 1025px) {
      display: none;
    }
  }
}
