.infoBlock {
  padding-left: 70px;
  padding-top: 140px;
  padding-right: 70px;

  // subtitle
  &__subtitle {  
    font-size: $fs-22;
    font-family: $f-montserrat;
    font-weight: 400;
    line-height: 27px;
  }
  // title
  &__title {
    font-size: $fs-44;
    font-family: $f-montserrat;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 18px;
  }
  // text
  &__content{
    font-size: $fs-18;
    font-family: $f-openSans;
    font-weight: 400;
    line-height: 30px;
    max-width: 500px;
    margin-bottom: 40px;
  }

  // button
  &__button{
    width: 190px;
    height: 50px;
    background-color: $c-white;
    color: $c-dark-gray;
    border: 1px solid $c-dark-gray;
    text-shadow: none;
    margin-bottom: 60px;
    // button text
    &__text{
  &__location{
      font-size: 14px;
    font-family: $f-montserrat;
    font-weight: 400;
    line-height: 17px;
    }
  }
    &__icon{
      font-size: 15px;
      font-weight: 400;
      color: $c-dark-gray;
    }
    &__text{
      font-size: 15px;
    font-family: $f-openSans;
    font-weight: 400;
    line-height: 20px;
    font-style: italic;
    color: $c-black;
    }
  }
}
