.banner {
  min-width: 100vh;
  position: relative;
  &__wrapper {
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    &__img {
      position: absolute;
      top: 0;
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
  &__title{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 130px;
    color: $c-white;
    font-family:$f-montserrat;
    font-weight: 700;
    font-size: 80px;
    
  }
    &__subTitle{
      font-family: $f-montserrat;
      font-weight: 400;
      font-size: 18px;
      color: $c-white;
      line-height: 22px;
      letter-spacing: 0.3em;
      text-align: center;
      margin-top: 20px;
  }
}
