.map {
  display: flex;
  z-index: 1;
  background-size: cover;

  @media (max-width: 768px) {
    display: none;
  }

  &__image {
    width: 100%;
    max-height: 700px;
    min-height: 500px;
  }
}
