.navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;

  @media (max-width: 1024px) {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 0px;
  }
  @media (max-width: 380px) {
    justify-content: left;
  }

  // ітем навігації
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
      margin-right: 0;
    }

    // кружок кожного ітема
    &__circle {
      height: 9px;
      width: 9px;
      border: 1px solid $c-white;
      border-radius: 50%;
      margin-right: 10px;
    }

    // ссилка
    &__link {
      color: $c-white;
      text-decoration: none;
      font-family: $f-sourceSansPro;
      font-size: $fs-14;

      @media (max-width: 1024px) {
        font-size: $fs-32;
      }
    }
  }
}
