.swiper-custom {
  overflow: hidden;
  &__wrapper {
    min-width: 0;
  }
}

.swiper {
  max-width:900px;
  height: 650px;

  @media(max-width:1024px){
    max-width: 550px;
  }
  @media(max-width:768px){
    max-width: 500px;
  }
  @media(max-width:480px){
    max-width: 300px;
  }
}
