.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  background: transparent;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $c-white;
  z-index: 5;

  @media (max-width: 380px) {
    height: 40px;
  }

  &:hover {
    background: transparent;
  }

  .line {
    background-color: $c-white;
    border-radius: 5px;
    display: inline-block;
    min-width: 40px;
    width: 40px;
    height: 3px;
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
